params.dlCentrifugeindex = 'https://genome-idx.s3.amazonaws.com/centrifuge/p_compressed%2Bh%2Bv.tar.gz'

profiles {
	conda {
		conda {
            enabled = true
        }
		process {
			conda = "${projectDir}/environment.yaml"
		
			withLabel: 'gpu' {clusterOptions = '-p gpu --gres=gpu:1'}
					scratch = true
					errorStrategy = 'ignore'
				}
		}
}

executor {
            name = 'slurm'
            queueSize = 200
}